Flask>=3.1.2
openmeteo-requests>=1.7.2
requests-cache>=1.2.1
retry-requests>=2.0.0
pandas>=2.3.2
numpy>=2.3.2
keras>=3.11.3
tensorflow>=2.20.0
protobuf>=6.32.0
joblib>=1.4.2
scikit-learn>=1.5.2
